<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
@model DocumentBase.Models.User
@Html.Partial("PartialLoggedin")
<!DOCTYPE html>

@{
    ViewBag.Title = "Login succeded";
}

<fieldset> 
    <legend > <b>Login Succeded</b> </legend>
        @if(Session["Login"] != null) { <text> <h1>
    Welcome @Session["Login"].ToString()
</h1> </text>           
        }
    
    @*@{
        var user = ViewBag.Message;
    }*@
</fieldset>