<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    
    <meta name="viewport" content="width=device-width" />
    <title>Document Storage</title>

</head>
<body>
    <div style="background-color:forestgreen; width:auto; font-size: 40px">
        <p>
             <b>Document Base</b> <i class="icon-pencil icon-white"></i> 
            <img src="https://upload.wikimedia.org/wikipedia/ru/thumb/8/8d/Star-Wars-II-still.jpg/200px-Star-Wars-II-still.jpg" width="200" height="135" alt="Hello there!"> 
            <img src="http://www.kitty.hansherman.se/wp-content/uploads/2014/03/Samuel-L-Jackson.jpg" width="200" height="135" alt="Hello there!">
            <img src="https://media.allure.com/photos/5ba532e30ac6c654eca1f789/16:9/w_1280,c_limit/e31a1dd95b519c8063075bf3ebfc231d685e7cd34fb0985dfabe35ab063bdeb84011b71e4ae81ada3b2eb21920dc167c.jpg" width="200" height="135" alt="Hello there!">
            <img src="https://amp.thisisinsider.com/images/5989fc4eefe3df1f008b48b9-750-563.png" width="200" height="135" alt="Hello there!">
            <img src="https://media0ch-a.akamaihd.net/20/99/71504e26ec37f3332b107c91b3ed5e0f.jpeg" width="200" height="135" alt="Hello there!">
             <b>I bid you good fortune</b> <i class="icon-pencil icon-white"></i>
             @*@Html.ActionLink("Login", "Login", "Login")*@
            
        </p>
    </div>
</body>
</html>
